<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <h1 id="login">Login</h1>
    </div>
    <div class="object">
        <h1 class="circle"></h1>
        <h1 class="circle2"></h1>
    </div>
    <div>
        <form action="/users/save" id="formulario" method="post">
            <input class="formu" type="text" name="name" placeholder="digite seu nome:" required>
            <input class="formu" type="password" name="senha" placeholder="digite sua senha:" name="" id="" required>
            <input id="sub" type="submit" placeholder="entrar" value="Logar">
        </form>
    </div>
</body>
</html>